[submodule "HAIEngine/vendor/spdlog"]
	path = HAIEngine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "HAIEngine/vendor/GLFW"]
	path = HAIEngine/vendor/GLFW
	url = git@github.com:glfw/glfw.git
